.container {
    width: auto;
    height: 100%;
  }
  
  mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  .button {
    background-color: transparent;
    color: white;
    border: 0;
    transition-duration: 0.4s;
    width: 100%;
    font-size: 1.2em;
    padding: 10px 5px;

}
      
.button:hover {
background-color: rgb(50, 50, 50); 
color: white;
}