<app-header (OpenEvent)="drawer.toggle()" ></app-header>
<mat-drawer-container class="container" [hasBackdrop]="hasBackdrop">
    <mat-drawer #drawer>
            <div class="conc-button">
              <button mat-button class="button" (click)="affichage(0);drawer.close()">CV</button>
            </div>
          <mat-divider></mat-divider>
          <div class="conc-button">
            <button mat-button class="button"  (click)="affichage(1);drawer.close()">Projet n°1: classification binaire</button>
          </div>
        <mat-divider></mat-divider>
        <div class="conc-button">
          <button mat-button class="button"  (click)="affichage(2);drawer.close()">Projet n°2: recuit simulé</button>
        </div>
      <mat-divider></mat-divider>
    </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="section === 0">CV</div>
      <div *ngIf="section === 1" class="section"><app-project1></app-project1></div>
    </mat-drawer-content>
</mat-drawer-container>