<app-header (OpenEvent)="drawer.toggle()" ></app-header>
<mat-drawer-container class="container" [hasBackdrop]="hasBackdrop">
    <mat-drawer #drawer>
            <div class="conc-button">
              <button mat-button class="button" (click)="affichage(0);drawer.close()">Home</button>
            </div>
            <mat-divider></mat-divider>
            <div class="conc-button">
              <button mat-button class="button" (click)="affichage(1);drawer.close()">CV</button>
            </div>
          <mat-divider></mat-divider>
          <div class="conc-button">
            <button mat-button class="button"  (click)="affichage(2);drawer.close()">Binary Classification</button>
          </div>
      <mat-divider></mat-divider>
    </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="section === 0" class="section"><app-home (ClassifEvent)="affichage(2)" ></app-home></div>
      <div *ngIf="section === 1" class="section"><app-cv></app-cv></div>
      <div *ngIf="section === 2" class="section"><app-project1 (HomeEvent)="affichage(0)"></app-project1></div>
    </mat-drawer-content>
</mat-drawer-container>