<div class="container">
    <div class="student-info">
        <div class="student-name">
            <img src="../../assets/image/photo.png" class="circle-image">
            <h2 style="font-weight: bold;"> Younes Boutiyarzist</h2>
        </div>
        <div class="student-description">
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Education:</div> 💻 MSc computer science at ENSEEIHT, Toulouse, France </h3>
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Specialization:</div> 📷 Image and Multimedia</h3>
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Thesis Interests:</div> 🔬 Data Processing, Machine Learning, and Deep Learning</h3>
            <p>I am a computer science student with a specialization in Image and Multimedia. I am currently seeking a thesis opportunity in the fields of data processing, machine learning, and deep learning. I have experience in programming languages such as Python and C++ and I am familiar with popular libraries and frameworks such as TensorFlow and OpenCV.</p>
            <p>I am eager to apply my knowledge and skills to real-world problems and I am open to collaboration with researchers and industry professionals. Please feel free to contact me if you have any thesis opportunities or projects that align with my interests.</p>
            <p style="font-size: 1.3em; font-weight: bold;">Contact: <a href="mailto:boutiyarzist.younes59@email.com" target="_blank">boutiyarzist.younes59@email.com</a></p>
        </div>
    </div>
    <div class="projects">
        <h3 style="font-size: 1.5em; font-weight: bold;">Projects</h3>
        <ul>
            <li>Project 1: Image classification using semi supervised learning : Implementation of FixMatch <a href="https://github.com/younesBoutiyarzist/FixMatch" target="_blank">here</a></li>
            <li>Project 2 : Implementation of FixMatch <a href="https://github.com/younesBoutiyarzist/FixMatch">here</a></li>
        </ul>
    </div>
</div>