<div class="container">
    <div class="student-info">
        <div class="student-name">
            <img src="../../assets/image/photo.png" class="circle-image">
            <h2 style="font-weight: bold;"> Younes Boutiyarzist</h2>
        </div>
        <div class="student-description">
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Education:</div> 💻 MSc computer science at ENSEEIHT, Toulouse, France </h3>
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Specialization:</div> 📷 Image and Multimedia</h3>
            <h3> <div style="font-size: 1.3em; font-weight: bold;">Thesis Interests:</div> 🔬 Data Processing, Machine Learning, and Deep Learning</h3>
            <p>I am a computer science student with a specialization in Image and Multimedia. I am currently seeking a thesis opportunity in the fields of data processing, machine learning, and deep learning. I have experience in programming languages such as Python and C++ and I am familiar with popular libraries and frameworks such as TensorFlow and OpenCV.</p>
            <p>I am eager to apply my knowledge and skills to real-world problems and I am open to collaboration with researchers and industry professionals. Please feel free to contact me if you have any thesis opportunities or projects that align with my interests.</p>
            <p style="font-size: 1.3em; font-weight: bold;">Contact: <a href="mailto:younes.boutiyarzist@etu.toulouse-inp.fr" target="_blank">younes.boutiyarzist@etu.toulouse-inp.fr</a></p>
        </div>
    </div>
    <div class="projects">
        <h3 style="font-size: 1.5em; font-weight: bold;">Projects</h3>
        <ul>
            <li> Robust Hypersphere Fitting from Noisy Data Using Gibbs Sampling </li>
            <li> Image classification using semi supervised learning : Implementation of FixMatch <a href="https://github.com/younesBoutiyarzist/FixMatch" target="_blank">here</a></li>
            <li> Implementation of Progressive Compression for Lossless Transmission of Triangle Meshes <a href="https://github.com/MystW/Projet_CSI" target="_blank">here</a></li>
            <li> Reflectance estimation with RTI <a href="https://github.com/amarmeddahi/reflectance-estimation" target="_blank">here</a></li>
            <li> Web page using Deep neural networks   
                <button class="button"  (click)="openClassif()">
                    here
                </button>
            </li>
            <li> Other Projects and Results : </li>
        </ul>
        <div  class="experiences">
            <div class="experience">
                <img class="image" src="../../assets/gif/EM.gif">
                <div class ="description"> Expectation Maximization on a Gaussian mixture model</div>
            </div>
            <div class="experience">
                <img class="image" src="../../assets/gif/hasting.gif">
                <div class ="description"> Metropolis-Hastings Algorithm</div>
            </div>
        </div>
        <div  class="experiences">
            <div class="experience">
                <img class="image" src="../../assets/gif/recuit_simule.gif">
                <div class ="description"> Segmentation with classification</div>
            </div>
            <div class="experience">
                <img class="image" src="../../assets/gif/compression.gif">
                <div class ="description"> Compression of 3D object</div>
            </div>
        </div>
        <div  class="experiences">
            <div class="experience">
                <img class="image" src="../../assets/gif/restoration.gif">
                <div class ="description"> restoration with variational methods</div>
            </div>
            <div class="experience">
                <img class="image" src="../../assets/gif/RTI.gif">
                <div class ="description"> 3D reconstruction by RTI</div>
            </div>
        </div>
        <div  class="experiences">
            <div class="experience">
                <img class="image" src="../../assets/image/point_interet.JPG">
                <div class ="description"> point of interest with the Harris detector</div>
            </div>
        </div>
    </div>
</div>